.button_action_like {
    min-width: 22px;
    height: 19px;
    background: url(../../../images/like-button.svg) no-repeat center;
    background-size: 22px;
    padding: 0;
    transition: opacity 1s ease;
    opacity: 1; 
}