.button_action_close {
    width: 32px;
    height: 32px;
    padding: 0;
    margin: 0;
    position: absolute;
    background: url(../../../images/close-button.svg) center no-repeat;
    background-size: 32px;
    right: -40px;
    top: -40px;
}

@media (max-width: 550px) {
    .button_action_close {
        width: 20px;
        height: 20px;
        right: 0;
        top: -36px;
        background-size: 20px;
    }
}